- text ||= nil
- size ||= nil
= auth_provider 'Facebook', {:label => text, :size => size}
= auth_provider 'Twitter', {:label => text, :size => size}
= auth_provider 'OpenID', {:label => text, :size => size, :provider => :open_id}
= auth_provider 'Google', {:label => text, :size => size}
= auth_provider 'Google Apps', {:label => text, :size => size, :provider => :google_apps}