%span.auth_providers
  = auth_provider 'Facebook', options, url
  = auth_provider 'Twitter', options, url
  = auth_provider 'OpenID', options.reverse_merge(:provider => :open_id), url
  = auth_provider 'Google', options, url
  = auth_provider 'Google Apps', options.reverse_merge(:provider => :google_apps), url