!!!
%html{:dir => "ltr", :lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    %title= html_title yield(:page_title)
    = csrf_meta_tag
    
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    = javascript_include_tag 'ga', :async => true
    = javascript_include_tag 'lib/head'
    = yield(:head)
    :javascript
      head.js("http://use.typekit.com/zyg7xdu.js", function(){try{Typekit.load();}catch(e){}});
      #{head_js %w{lib/jquery lib/jquery.tipsy lib/rails}, javascripts, :app}
    
    = open_id_delegation_link_tags
    
  %body
    .container.showgrid
      %header#header
        %h1#page_heading
          %a{:href => root_url}= enki_config[:title]
      %section#main
        = render :partial => "shared/flashes"
        = yield
      %nav#navigation
        %h2 Pages
        %ul
          - page_links_for_navigation.each do |link|
            %li= link_to(link.name, link.url)
        - unless category_links_for_navigation.empty?
          %h2 Categories
          %ul
            - category_links_for_navigation.each do |link|
              %li= link_to(link.name, link.url)
        %form#sform{:action => "http://www.google.com/search", :method => "get"}
          %div
            %h2
              %label{:for => "q"} Search
            %input#q{:name => "q", :type => "text", :value => ""}/
            %input{:name => "sitesearch", :type => "hidden", :value => enki_config[:url]}/
      %footer#footer
        = enki_config[:title]
        © #{enki_config[:author, :name]}. Valid
        %a{:href => "http://validator.w3.org/check?uri=referer"} HTML5
        and #{link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom"}. Powered by
        = succeed "." do
          %a{:href => "http://www.enkiblog.com", :title => "A Ruby on Rails blogging app for the fashionable developer"} Enki
